:root{
    --color-1:#7c7c7c;
    --color-2: rgb(255, 111, 0);
}


main{
display: flex;
justify-content: center;
position: relative;
top: 40px;
}

.continer1{
    
    width: 40%;
    background-color: rgb(241, 243, 249);
    
    
    
}
header{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
p{
    color:var(--color-1);
}

label{
    padding: 10px 0px;
    display: flex;
    
    
}
input{
    border: none;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
}
.checkbox{
    display: flex;
    margin: 20px 20px 0px 0px;;

}
.checkbox>label{
    color: var(--color-1);
    font-size: smaller;
}
#chb{
    accent-color:var(--color-2);
    width: 6%;
    margin: 0%;
    margin-right: 10px;   
}
a{
    color: var(--color-1);
    font-size: smaller;
    position: relative;
    bottom: 26px;
    left: 200px;
}
button{
    border: none;
    border-radius: 5px;
    background-color:var(--color-2) ;
    color: white;
    width: 290px;
    height: 35px;
    font-size: larger;
}
.continer2{
    
    display: flex;
}
section{
    position: relative;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}